*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

#usuario{
    background-color: black;
    height: 20rem;
    margin-top: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

#usuario h1{
    color: gold;
}

#usuario h2{
    color: lightgray;
}